<div class="body">
<div class="container">
    <div class="container-close">&times;</div>
    <img
      src="https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
      alt="image">
    <div class="container-text">
      <h2>Add URL To Shortener<br>inbox</h2>
      <p>Idea the website <br> Help you to make URL Shortener instead of Orignal Large.</p>
      <input type="text" #url placeholder="Enter URL">
      <button (click)="NewUrl(url.value)">Submit</button>
    
    </div>
  </div>
</div>